$white: #FFFFFF;

$heading2-color: #3E3E3E;
$heading1-color: #4E4E4E;
$heading3-color: #606060;

$project-description-color: #838383;

$link-to-section-color: #F72CA9;
$button-color: #21D4E3;

$device-sm: 600px;
$device-md: 768px;
$device-lg: 992px;
$device-xl: 1200px;

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: $device-sm;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}

@media screen and (min-width: $device-md) {
    .container {
        max-width: $device-md;
        padding: 0 50px;
        text-align: left;
    }   
}

@media screen and (min-width: $device-lg) {
    .container {
        max-width: $device-lg;
    }   
}

header {
    background-color: $white;
    $header-text-color: #707070;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    p {
        color: $header-text-color;
        font-size: 30px;
        line-height: 35px;
        font-weight: 500;
    }
    nav {
        a:not(:first-of-type) {
            margin-left: 20px;

            @media screen and (min-width: $device-md) {
                & {
                    margin-left: 60px;
                }   
            }
        }
        a {
            color: $header-text-color;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;

            &:hover {
                border-bottom: 2px solid $link-to-section-color;
            }
        }
    }
}

.section1 {
    $section1-gradient-start: $white;
    $section1-gradient-end: #EFFAFF;

    background: -webkit-gradient(linear, left top, left bottom, from($section1-gradient-start), to($section1-gradient-end));
    background: -webkit-linear-gradient($section1-gradient-start, $section1-gradient-end);
    background: -o-linear-gradient($section1-gradient-start, $section1-gradient-end);
    background: linear-gradient($section1-gradient-start, $section1-gradient-end);
    
    .container {
        padding-top: 100px;
        flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        align-content: center;
    }

    div.description {
        h2 {
            font-size: 50px;
            line-height: 58px;
            color: $heading2-color;
            font-weight: 400;
            margin-bottom: 8px;
        }

        h1 {
            margin: 8px 0 40px;
            font-size: 26px;
            line-height: 30px;
            color: $heading3-color;
            font-weight: 400;
        }

        a {
            text-decoration: none;
            color: $white;
            background: $button-color;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 700;
            padding: 10px 49px;
            
        }
    }

    div.image {
        margin: 100px 0 -3px;
    }

    @media screen and (min-width: $device-lg) {
        .container {
            padding-top: 0;
            flex-direction: row;
        }   
        div.image {
            margin-top: 300px;
        }
    }
}

.section2 {
    background: $white;
    color: $heading1-color;
    padding: 80px 0;

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        align-content: center;
    }

    div.image {
        margin: 50px;
    }

    div.description {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;

        h1 {
            font-size: 40px;
            line-height: 47px;
            font-weight: 300;
            margin: 0 0 45px;
        }
        span {
            font-weight: 900;
        }
        span.link-color {
            color: $link-to-section-color;
        }
        span.button-color {
            color: $button-color;
        }

        p {
            max-width: 550px;
            font-size: 16px;
            line-height: 23px;
            text-align: justify;
        }
    }

    @media screen and (min-width: $device-md) {
        .container {
            flex-direction: row;
        }
        div.description {
            p {
                text-align: left;
            }
        }   
    }
}

.section3 {
    background: #F4F4F4;
    padding: 70px 0 115px;

    h2 {
        font-size: 40px;
        line-height: 23px;
        color: $heading1-color;
        font-weight: 400;
    }

    .articles-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    @media screen and (min-width: $device-md) {
        .articles-container {
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
        }   
    }

    article {
        -webkit-box-shadow: 1px 1px 2px rgb(199, 199, 199);
                box-shadow: 1px 1px 2px rgb(199, 199, 199);
        background: $white;
        width: 316px;
        margin: 5px;

        img {
            width: 100%;
        }
        .article-text-container {
            padding: 18px 17px 19px;
        }
        p {
            font-size: 13px;
            line-height: 16px;
            color: $project-description-color;
        }
        h5 {
            margin-top: 0;
            margin-bottom: 13px;
            font-size: 20px;
            line-height: 23px;
            color: $heading1-color;
            font-weight: 500;
        }
    }
}